<html>
<head>
 <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
 <title>南通中学软件编程学习兴趣调查表</title>
</head>
<body>
 <p style='font-size:24px'><b>{{question}}</b></p>
 <hr />
 <form action="/question/" method="post">
  <p><button type="submit" name="choice" value="A" style='font-size:20px'>{{choiceA}}</button></p>
  <p><button type="submit" name="choice" value="B" style='font-size:20px'>{{choiceB}}</button></p>
  {% if choiceC!='\n' %}
  <p><button type="submit" name="choice" value="C" style='font-size:20px'>{{choiceC}}</button></p>
  {% endif %}
  {% if choiceD!='\n' %}
  <p><button type="submit" name="choice" value="D" style='font-size:20px'>{{choiceD}}</button></p>
  {% endif %}
  {% if choiceE!='\n' %}
  <p><button type="submit" name="choice" value="E" style='font-size:20px'>{{choiceE}}</button></p>
  {% endif %}
  {% if choiceF!='\n' %}
  <p><button type="submit" name="choice" value="F" style='font-size:20px'>{{choiceF}}</button></p>
  {% endif %}
  <input hidden name="choices" value='{{choices}}'/>
  <input hidden name="filep" value='{{filep}}'/>
 </form>
 </p>
 <br />
 <br />
 <br />
 <p><font size="1" color="gray">**2018南通中学极客共进交流社**</font></p>
</body>
</html>